@import url('https://fonts.googleapis.com/css?family=Roboto');

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    width: 5em;
    height: auto;
}

a {
    color: #7A7C80;
    text-decoration: none;
}

/* Section 1 */
.section-1 {
    padding-top: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 p {
    font-size: 1.1rem;
    margin: 0;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}

/* Section 2 */
.section-2 {
    padding-top: 10vh;
    padding-right: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
    display: none;
    overflow: auto;
    background-color: #1a1b1d;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 a {
    padding: 5px;
    padding-left: 0;
    width: 100px;
}

/* Link Container */
.link-container {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-circle {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.link-container a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}

.link-container a.show {
    opacity: 1;
    pointer-events: auto;
}

.link-container a:nth-child(2) {
    transform: rotate(-90deg) translate(150px) rotate(90deg);
}

.link-container a:nth-child(3) {
    transform: rotate(-120deg) translate(150px) rotate(120deg);
}

.link-container a:nth-child(4) {
    transform: rotate(-150deg) translate(150px) rotate(150deg);
}

.link-container a:nth-child(5) {
    transform: rotate(-180deg) translate(150px) rotate(180deg);
}

.link-container a:nth-child(6) {
    transform: rotate(-210deg) translate(150px) rotate(210deg);
}

.link-container a:nth-child(7) {
    transform: rotate(-240deg) translate(150px) rotate(240deg);
}

.link-container a:nth-child(8) {
    transform: rotate(-270deg) translate(150px) rotate(270deg);
}

.show-section-2 .section-1 {
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
}

.show-section-2 .section-2 {
    display: block;
    transform: translateX(0) translateY(-50%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 12px;
    padding-bottom: 1px;
    color: #7A7C80;
}

input,
textarea {
    margin-bottom: 0.5rem;
    background-color: #3333;
    box-sizing: border-box;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: 0;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}

label,
input{
    display: flex;
    color: white;
    height: 50px;
    padding: 10px;
}

textarea {
   padding: 10px;
   color: white;
}

button{
    margin-bottom: 0.5rem;
    background-color: #3333;
    box-sizing: border-box;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: 0;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    height: 50px;
    color: white;
}

/* Minimize Icon */
.section-2 .fa-window-minimize {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

/* Media Query for iPad Screen Size and Smaller */
@media (max-width: 768px) {
    .section-2 {
        width: 100%;
    }
}